.analyzer {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.analyzer canvas {
  width: 100%;
  height: 100%;
  background: #000;
}

.controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 0.25em;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0 1em;
}


.logs .line {
  font-size: 0.8em;
  font-family:'Courier New', Courier, monospace
}

.logs .pc1 {
  background: #abebc6;
  border-bottom: 1px solid #28b463;
}

.logs .pc2 {
  background: #fad7a0;
  border-bottom: 1px solid #d68910;
}

.logs .error {
  background: #f9e79f;
  border-bottom: 1px solid #d4ac0d;
  color: #b03a2e;
}